.custom_card {
  display: flex;
  align-items: center;
  width: 90% !important;
  width: auto;
  margin: auto;
  // border: 1px solid #eff1f4;
  padding-bottom: 4px !important;
  padding-top: 4px !important;
}
.custom_scenario {
  display: flex;
  align-items: center;

  width: 100%;
  margin: auto;
  // border: 1px solid #eff1f4;
  padding-bottom: 4px !important;
  padding-top: 4px !important;
  margin-bottom: 6px;
  margin-top: 6px !important;
}
.custom_tree {
  display: flex;
  align-items: center;

  width: 80%;
  margin: auto;
  border: 1px solid #eff1f4;
  // padding-bottom: 4px !important;
  padding-top: 4px !important;
  margin-bottom: 6px;
  margin-top: 6px;
}
