<div class="w-full flex flex-column relative border-round-lg w-12 ">
  <p-toast [showTransformOptions]="'translateY(100%)'" [showTransitionOptions]="'500ms'"
    [hideTransitionOptions]="'500ms'"></p-toast>
  <p-confirmPopup></p-confirmPopup>
  <div class="flex flex-row mt-0 w-full h-full">
    <div class="flex flex-column mb-3 justify-content-start w-full mt-0" [formGroup]="createTaskForm">
      <LDIGITAL-header-text [data]="{
          title: 'Program Administration',
          description: 'Create / view a program'
        }"></LDIGITAL-header-text>




      <!-- <label for="username2" class="block mb-2 text-md font-medium LDIGITAL-font-poppins-light text-xs">Create Program
        <span class="text-red-500 text-lg">*</span></label> -->

      <div
        class="field mr-3 w-12 w-full h-auto pb-4 flex flex-row align-items-center justify-content-between relative border-1 pt-0 border-gray-300 border-round-lg w-12 pl-4 pr-4 pt-2">
        <div class="field mr-3 w-3 mb-0 pb-2">
          <label for="username2" class="block text-md font-medium LDIGITAL-font-poppins-light text-xs">Program Name<span
              class="text-red-500 text-lg"></span></label>
          <div class="flex w-full flex-row justify-content-left align-items-center">
            <div class="flex w-full h-full flex-row justify-content-start align-items-center p-input-icon-right">
              <input id="Description" type="text" aria-describedby="Description-help" placeholder="Program Name"
                formControlName="agreement_name"
                class="ng-invalid ng-dirty border-round-3xl border-1 w-12 max-w-full border-gray-300 pl-3" pInputText />
              <img src="{{ pageData.createTaskFormData.infoIcon }} }}" class="ml-2 cursor-pointer" alt="" />
            </div>
          </div>
        </div>

        <div class="field mr-3 w-3 mb-0 pb-0">
          <label for="username2" class="block text-md font-medium LDIGITAL-font-poppins-light text-xs">State</label>
          <div class="flex w-full flex-row justify-content-left align-items-center">
            <div class="flex w-full flex-row justify-content-start align-items-center">
              <p-dropdown placeholder="Select State" optionLabel="title" [options]="[]" [showClear]="true"
                class="border-1 w-12 border-gray-300 border-round-3xl">
              </p-dropdown>
            </div>
          </div>
        </div>

        <div class="field mr-3 w-3 mb-0 pb-0">
          <label for="username2" class="block text-md font-medium LDIGITAL-font-poppins-light text-xs">LOB</label>
          <div class="flex w-full flex-row justify-content-left align-items-center">
            <div class="flex w-full flex-row justify-content-start align-items-center">
              <p-dropdown placeholder="Select LOB" optionLabel="title" [options]="[]" [showClear]="true"
                class="border-1 w-12 border-gray-300 border-round-3xl">
              </p-dropdown>
            </div>
          </div>
        </div>

        <div class="field mr-3 w-3 mb-0 pb-0">
          <label for="username2" class="block text-md font-medium LDIGITAL-font-poppins-light text-xs">Select the
            Type</label>
            <div class="flex w-full flex-row justify-content-left align-items-center">
              <div class="flex w-full flex-row justify-content-start align-items-center">
                <p-dropdown placeholder="Select the type" optionLabel="title" [options]="[]" [showClear]="true"
                  class="border-1 w-12 border-gray-300 border-round-3xl">
                </p-dropdown>
              </div>
            </div>
        </div>



        <!-- <div class="field mr-3 w-3">
          <label for="username2" class="block text-md font-medium LDIGITAL-font-poppins-light text-xs">Agreement Effective
            date<span class="text-red-500 text-lg">*</span></label>
          <div class="flex w-full flex-row justify-content-left align-items-center">
            <div class="flex w-full h-full flex-row justify-content-start align-items-center p-input-icon-right">
              <p-calendar formControlName="agreement_effective_date"
                class="border-round-3xl border-none w-12 max-w-full border-gray-300 pl-3"></p-calendar>
              <i class="pi pi-calendar"></i>
            </div>
          </div>
        </div>

        <div class="field mr-3 w-3">
          <label for="username2" class="block text-md font-medium LDIGITAL-font-poppins-light text-xs">Agreement Term
            Date<span class="text-red-500 text-lg">*</span></label>
          <div class="flex w-full flex-row justify-content-left align-items-center">
            <div class="flex w-full h-full flex-row justify-content-start align-items-center p-input-icon-right">
              <p-calendar formControlName="agreement_term_date"
                class="border-round-3xl border-none w-12 max-w-full border-gray-300 pl-3"></p-calendar>
              <i class="pi pi-calendar"></i>
            </div>
          </div>
        </div> -->
      </div>

      <!-- <div class="flex flex-row justify-content-end">
        <p-button label="create" [disabled]="createTaskForm?.valid && !isTaskAvailable ? false : true"
          (click)="createTask()" icon="pi pi" iconPos="left" class="LDIGITAL-font-poppins-md mt-1"></p-button>
      </div> -->
    </div>
  </div>
</div>