<div class="w-full flex flex-row relative border-round-lg w-12 ">

    <p-toast [showTransformOptions]="'translateY(100%)'" [showTransitionOptions]="'500ms'"
        [hideTransitionOptions]="'500ms'"></p-toast>
    <div class="flex flex-row mt-0 w-full h-full">
        <div class="flex flex-row mb-3 justify-content-start w-full mt-0">
            <div
                class="field mr-3 w-12 w-full h-auto pb-4 flex flex-row align-items-center justify-content-start relative border-1 pt-0 border-gray-300 border-round-lg w-12 pl-4 pr-4 pt-2 flex-wrap">
                <div *ngFor="let _form of formControlObject"
                    class="w-4 flex flex-row align-items-center justify-content-start flex-wrap">
                    <div class=" mr-3 w-10 mb-0 pb-2" *ngIf="_form.isText">
                        <label for="username2"
                            class="block text-md font-medium LDIGITAL-font-poppins-light text-xs mb-2">
                            {{_form?.title}}<span class="text-red-500 text-lg"></span></label>
                        <div class="flex w-full flex-row justify-content-left align-items-center">
                            <div
                                class="flex w-full h-full flex-row justify-content-start align-items-center p-input-icon-right">
                                <input id="Description" (keyup)="changeDataInput(_form , $event, 'text')" type="text"
                                    aria-describedby="Description-help" [placeholder]="_form.placeHolder"
                                    [value]="_form.value || ''"
                                    class="ng-invalid ng-dirty border-round-3xl border-1 w-12 max-w-full border-gray-300 pl-3"
                                    pInputText />
                                <img src="assets/icons/infoIcon" class="ml-2 cursor-pointer" alt="" />
                            </div>
                        </div>

                    </div>


                    <div class=" mr-3 w-10 mb-0 pb-2" *ngIf="_form.autocomplete">
                        <label for="username2"
                            class="block text-md font-medium LDIGITAL-font-poppins-light text-xs mb-2">
                            {{_form?.title}}<span class="text-red-500 text-lg"></span></label>
                        <div class="flex w-full flex-row justify-content-left align-items-center">
                            <div
                                class="flex w-full h-full flex-row justify-content-start align-items-center p-input-icon-right">
                                <p-autoComplete [showClear]="true" [suggestions]="filteredList || []" field="title"
                                    (onClear)="clearProgram(_form)" (onSelect)="changeDataInput(_form , $event, 'auto')"
                                    (completeMethod)="search(_form, $event)">
                                    <ng-template let-country pTemplate="item">
                                        <div class="country-item">

                                            <div>{{country.title}}</div>
                                        </div>
                                    </ng-template>
                                </p-autoComplete>
                            </div>
                        </div>

                    </div>
                    <div class=" mr-3 w-10 mb-0 pb-2" *ngIf="_form.isSingleDrop">
                        <label for="username2"
                            class="block text-md font-medium LDIGITAL-font-poppins-light text-xs mb-2">
                            {{_form?.title}}<span class="text-red-500 text-lg"></span></label>
                        <p-dropdown class=" border-round-3xl border-1 w-3 border-gray-300 p-custom-12"
                            [options]="_form.dataList || []" placeholder="Any" [(ngModel)]="_form.value"
                            optionLabel="title"></p-dropdown>
                        <!-- <p-multiSelect class=" border-round-3xl border-1 w-3 border-gray-300 pl-3"
                            [(ngModel)]="_form.value" [options]="_form.dataList || []" placeholder="Any"
                            optionLabel="title" (onChange)="changeDataInput(_form , $event, 'multi')"
                            selectedItemsLabel="{0} items selected">
                            <ng-template let-option pTemplate="item">
                                <div class="p-multiselect-representative-option">
                                
                                    <span class="ml-1">{{option.title}}</span>
                                </div>
                            </ng-template>
                        </p-multiSelect> -->
                    </div>

                    <div class=" mr-3 w-10 mb-0 pb-2" *ngIf="_form.isMultiple">
                        <label for="username2"
                            class="block text-md font-medium LDIGITAL-font-poppins-light text-xs mb-2">
                            {{_form?.title}}<span class="text-red-500 text-lg"></span></label>

                        <p-multiSelect class=" border-round-3xl border-1 w-3 border-gray-300 pl-3"
                            [(ngModel)]="_form.value" [options]="_form.dataList || []" placeholder="Any"
                            optionLabel="title" (onChange)="changeDataInput(_form , $event, 'multi')"
                            selectedItemsLabel="{0} items selected">
                            <ng-template let-option pTemplate="item">
                                <div class="p-multiselect-representative-option">
                                    <!-- <img [alt]="option.label"
                                                                                    src="assets/showcase/images/demo/avatar/{{option.image}}" width="32"
                                                                                    style="vertical-align: middle" /> -->
                                    <span class="ml-1">{{option.title}}</span>
                                </div>
                            </ng-template>
                        </p-multiSelect>
                    </div>

                    <!-- <div class="w-2">
                        hjghjg
                    </div> -->
                    <div class=" mr-0 w-12 mb-0 pb-2" *ngIf="_form.isDate">
                        <label for="username2"
                            class="block text-md font-medium LDIGITAL-font-poppins-light text-xs mb-2">
                            {{_form?.title}}<span class="text-red-500 text-lg"></span></label>
                        <!-- [selectionMode]="'range'" -->
                        <p-calendar #date [showIcon]="true" [hideOnDateTimeSelect]="true" [showClear]="false"
                            [(ngModel)]="_form.value" (onSelect)="changeDataInput(_form , $event, 'dt')"></p-calendar>

                    </div>
                    <div class="flex flex-row justify-content-start pt-4 w-12" *ngIf="_form.isButton">
                        <p-button [label]="_form.title || ''" icon="pi pi" iconPos="left" (click)="submitForm()"
                            class="LDIGITAL-font-poppins-md mt-1">
                        </p-button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>