/* You can add global styles to this file, and also import other style files */
@import "../src/app/external_modules/@digital-twin/styles/src/index.css";
@import "./assets/fonts/font.scss";

* {
  box-sizing: border-box;
  font-family: Poppins-Light, sans-serif;
}

body {
  margin: 0;
  font-family: Poppins-Light, sans-serif !important;
  overflow-x: hidden !important;
  scrollbar-color: #d4aa70 #e4e4e4 !important;
  scrollbar-width: thin !important;

  height: 100vh !important;
  width: 100%;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;

  background-color: var(--gray-100);
}

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--gray-300);
  width: 10px;
}

.blur {
  backdrop-filter: blur(1px);
}

.height-fit {
  height: fit-content !important;
}

.cursor-not-allowed {
  cursor: not-allowed !important;
}

.input span {
  position: absolute;
  color: white;
  font-weight: 800;
  font-size: 12px;
  /* transform: rotate(-45deg); */
  margin-bottom: 42px;
  margin-left: 38px !important;
  /* margin-left: 8px; */
  /* margin-right: -15px; */
  /* margin-top: -31px; */
  margin-left: 0;
  background: red;
  width: 126px;
  height: 29px;
  /* left: 518px; */
  /* top: 283px; */
  background: #4910ae;
  border: 1px solid #000000;
  box-shadow: 0px 4px 12px 1px rgb(27 23 23 / 25%);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-bottom: 12px !important; */
  margin-top: -7px;
}

.input_custom span {
  position: relative !important;
  color: white;
  font-weight: 800;
  font-size: 12px;
  /* transform: rotate(-45deg); */
  margin-bottom: 1px;
  margin-left: 2px !important;
  /* margin-left: 8px; */
  /* margin-right: -15px; */
  margin-top: 11px;
  margin-left: 0;
  background: red;
  width: 126px;
  height: 29px;
  /* left: 518px; */
  /* top: 283px; */
  background: #4910ae;
  border: 1px solid #000000;
  box-shadow: 0px 4px 12px 1px rgb(27 23 23 / 25%);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-bottom: 12px !important; */
  /* margin-right: 1px !important; */
  /* position: relative; */
  /* width: 13px; */
  /* height: 13px; */
  /* border-radius: 8%; */
  /* border: 2px solid #000; */
  /* cursor: crosshair; */
  z-index: 1;
  /* margin-bottom: 5px;
  /* margin-bottom: 12px !important; */
  /* margin-top: -7px;
}

.output span {
  position: absolute;
  color: white;
  margin-right: 16px;
  font-weight: 800;
  font-size: 11px;
  margin-top: 0;
  /* margin-right: -8px; */
  /* margin-right: 1px !important; */
  /* position: relative; */
  /* width: 13px; */
  /* height: 13px; */
  /* border-radius: 8%; */
  /* border: 2px solid #000; */
  /* cursor: crosshair; */
  z-index: 1;
  /* margin-bottom: 5px; */
}

.title-box {
  font-weight: 800;
  font-size: 14px;
  text-align: center;
  background: black;
  z-index: 999999999;
  position: absolute;
  top: -30px;
  padding: 2px;
  padding-left: 12px;
  padding-right: 9px;
  border-radius: 5px;
}

.top-10rem {
  top: 3rem !important;
}

.parent-drawflow {
  display: flex;
  overflow: hidden;
  touch-action: none;
  outline: none;
}

.drawflow {
  width: 100%;
  height: 100%;
  position: relative;
  user-select: none;
  perspective: 0;
}

.drawflow .parent-node {
  position: relative;
}

.drawflow .drawflow-node {
  display: flex;
  align-items: center;
  position: absolute;
  background: cyan;
  width: 160px;
  min-height: 40px;
  border-radius: 4px;
  border: 2px solid black;
  color: black;
  z-index: 2;
  padding: 15px;
}

.drawflow .drawflow-node.selected {
  background: red;
}

.drawflow .drawflow-node:hover {
  cursor: move;
}

.drawflow .drawflow-node .inputs,
.drawflow .drawflow-node .outputs {
  width: 0px;
  list-style: none;
  margin-left: -41px;
}

.drawflow .drawflow-node {
  // position: relative;
  // // background: white;
  // margin-top: 20px;
  // // padding: 30px;
  // font-family: "Roboto Mono", monospace;
  // font-size: 0.85rem;
  // font-weight: 400;
  // line-height: 1.5;
  // color: #212529;

  // span {
  //   font-size: 13px;
  //   font-style: italic;
  //   letter-spacing: 0.4px;
  //   color: #a8a8a8;
  // }

  // .fa-folder-open,
  // .fa-folder {
  //   color: #007bff;
  // }

  // .fa-html5 {
  //   color: #f21f10;
  // }

  .input_custom ul {
    padding-left: 5px;
    list-style: none;

    li {
      position: relative;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 15px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;

      &:before {
        position: absolute;
        top: 15px;
        left: 0;
        width: 10px;
        height: 1px;
        margin: auto;
        content: "";
        background-color: #666;
      }

      &:after {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 1px;
        height: 100%;
        content: "";
        background-color: #666;
      }

      &:last-child:after {
        height: 15px;
      }
    }
  }
}

.input_custom {
  position: relative;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  &:before {
    position: absolute;
    top: 15px;
    left: 0;
    width: 10px;
    height: 1px;
    margin: auto;
    content: "";
    background-color: #4dca59;
  }

  &:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 1px;
    height: 100%;
    content: "";
    background-color: #4dca59;
  }

  &:last-child:after {
    height: 15px;
  }
}

.drawflow .drawflow-node .drawflow_content_node {
  width: 100%;
  display: block;
}

.drawflow .drawflow-node .input,
.drawflow .drawflow-node .output {
  position: relative;
  width: 20px;
  height: 20px;
  background: white;
  border-radius: 50%;
  border: 2px solid black;
  cursor: crosshair;
  z-index: 1;
  margin-bottom: 5px;
}

.drawflow .drawflow-node .input {
  left: -27px;
  top: 2px;
  background: yellow;
}

.drawflow .drawflow-node .output {
  right: -3px;
  top: 2px;
}

.drawflow svg {
  z-index: 0;
  position: absolute;
  overflow: visible !important;
}

.drawflow .connection {
  position: absolute;
  pointer-events: none;
  aspect-ratio: 1 / 1;
}

.drawflow .connection .main-path {
  fill: none;
  stroke-width: 5px;
  stroke: steelblue;
  pointer-events: all;
}

.drawflow .connection .main-path:hover {
  stroke: #1266ab;
  cursor: pointer;
}

.drawflow .connection .main-path.selected {
  stroke: #43b993;
}

.drawflow .connection .point {
  cursor: move;
  stroke: black;
  stroke-width: 2;
  fill: white;
  pointer-events: all;
}

.drawflow .connection .point.selected,
.drawflow .connection .point:hover {
  fill: #1266ab;
}

.drawflow .main-path {
  fill: none;
  stroke-width: 5px;
  stroke: steelblue;
}

.drawflow-delete {
  position: absolute;
  display: block;
  width: 30px;
  height: 30px;
  background: black;
  color: white;
  z-index: 4;
  border: 2px solid white;
  line-height: 30px;
  font-weight: bold;
  text-align: center;
  border-radius: 50%;
  font-family: monospace;
  cursor: pointer;
}

.drawflow > .drawflow-delete {
  margin-left: -15px;
  margin-top: 15px;
}

.parent-node .drawflow-delete {
  right: -15px;
  top: -15px;
}

.drawflow .drawflow-node .input,
.drawflow .drawflow-node .output {
  position: relative;
  width: 13px;
  height: 13px;
  border-radius: 8%;
  border: 2px solid #000;
  cursor: crosshair;
  z-index: 1;
  margin-bottom: 5px;
  // transform: rotate(45deg);
}

.drawflow .drawflow-node .input {
  left: -22px;
  top: 2px;
  margin-bottom: 10px;
}

// .drawflow .drawflow-node .output {
//   right: -9px;
//   top: 2px;
//   margin-bottom: 10px;
// }
.drawflow .drawflow-node .output {
  right: -9px;
  top: 2px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row-reverse;
}

/* .drawflow .connection .main-path {
  fill: none;
  stroke-width: 4px;
  stroke: #4682b4;
  transform: translate(-9999px, -9997px);
} */

.drawflow .drawflow-node.selected {
  background: #2d3134;
}

.drawflow .connection .main-path {
  fill: none;
  stroke-width: 3px;
  stroke: #4dca59;
  pointer-events: all;
}

.drawflow .drawflow-node {
  display: flex;
  align-items: center;
  position: absolute;
  background: #ffffff;
  width: 200px;
  min-height: 40px;
  border-radius: 4px;
  border: 2px solid #c9c9c9;
  color: white;
  z-index: 2;
  padding: 15px;
}

span {
  b {
    background: #4dca5b !important;
    position: absolute;
    left: -26px;
    top: 25px;
    padding: 4px;
    font-size: 8px;
    border-radius: 6px;
  }
}

.letter-space-2 {
  letter-spacing: 2px;
}

.progress-bar {
  top: 16px;
  z-index: -1;
  width: 230px !important;

  hr {
    border-color: #4dca59 !important;
    border-top-width: 2px !important;
  }
}

.p-slider-horizontal .p-slider-range {
  height: 100%;
  left: 0;
  top: 0;
}

.p-slider .p-slider-handle {
  height: 1.143rem;
  width: 1.143rem;
  background: #ffffff;
  border: 1px solid #000;
  border-radius: 50%;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s,
    box-shadow 0.2s;
}

.p-slider .p-slider-range {
  background: #4dca59 !important;
}

.border-right-1 {
  border-right-width: 1px !important;
  border-right-style: dashed !important;
}

canvas {
  //max-width: 35vw;
  // max-width: 100%;
  background-size: 100% 100%;
  transform: rotate(var(--rotation)) scale(var(--zoom));
  -webkit-transform: rotate(var(--rotation)) scale(var(--zoom));
  -moz-transform: rotate(var(--rotation)) scale(var(--zoom));
  -ms-transform: rotate(var(--rotation)) scale(var(--zoom));
  -o-transform: rotate(var(--rotation)) scale(var(--zoom));
  transform: rotate(var(--rotation)) scale(var(--zoom));
  max-height: -webkit-fill-available;
}

.zoomFlag {
  max-width: 35vw;
  background-size: 100% 100%;
  transform: rotate(var(--rotation)) scale(var(--zoom));
  -webkit-transform: rotate(var(--rotation)) scale(var(--zoom));
  -moz-transform: rotate(var(--rotation)) scale(var(--zoom));
  -ms-transform: rotate(var(--rotation)) scale(var(--zoom));
  -o-transform: rotate(var(--rotation)) scale(var(--zoom));
  transform: rotate(var(--rotation)) scale(var(--zoom));
}

.rotateFlag {
  -webkit-transform-origin-y: unset !important;
  -webkit-transform-origin-x: unset !important;
}
#canvas {
  transform: rotate(var(--rotation)) scale(var(--zoom));
  -webkit-transform: rotate(var(--rotation)) scale(var(--zoom));
  -moz-transform: rotate(var(--rotation)) scale(var(--zoom));
  -ms-transform: rotate(var(--rotation)) scale(var(--zoom));
  -o-transform: rotate(var(--rotation)) scale(var(--zoom));
  transform: rotate(var(--rotation)) scale(var(--zoom));
}

.demo-chart {
  canvas {
    position: relative !important;
  }
}

.delete-icon {
  height: 11px !important;
  width: 15px !important;
  padding: 12px !important;
  font-size: 8px !important;
  position: absolute;
  top: 6px !important;
  right: -15px !important;
  .pi {
    font-size: 9px !important;
  }
}
.p-speeddial-action {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  margin: 0px 0px 7px 7px !important;
}

.p-speeddial-action-icon {
  background: #2d2d2d !important;
  padding: 9px;
  margin: 0px;
  color: white;
}

.p-speeddial {
  position: relative !important;
}
.p-speeddial-button {
  border: none !important;
  box-shadow: none !important;
}

.htmlContentPlicy {
  height: 90vh !important;
  overflow-y: auto;
  font-size: 12px !important;
  h1 {
    font-size: 12px;
    font-weight: normal;
    margin: 0;
    display: inline-block;
  }

  h2 {
    border: 1px solid #000000;
    padding: 5px;
    background-color: #62925d;
    color: #ffffff;
    letter-spacing: 0.5px;
    margin: 3rem 0 1.2rem;
  }

  h3 {
    font-size: 1.5em;
    margin-top: 1.5em;
    margin-bottom: 1em;
  }

  h4 {
    font-size: 1.25em;
    margin-top: 1.25em;
    margin-bottom: 0.25em;
  }

  p {
    margin: 10px 0;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }

  table p {
    margin: 0;
  }

  a {
    color: #0079c2;
  }

  a:hover {
    color: #00609a;
  }

  table {
    width: 100%;
    border: none;
    //	margin-bottom: 1.2rem;
    //	margin-top: 1.2rem;
  }

  table.borders,
  table.borders th,
  table.borders td {
    border: 1px solid #000000;
    border-collapse: collapse;
  }

  table.center,
  th.center,
  td.center {
    text-align: center;
  }

  table table {
    margin-bottom: 0;
  }

  table + table {
    margin-top: 1rem;
  }

  // table.head_style {
  // 	border : "1";
  // 	bordercolor: "#000000" ;
  // 	cellspacing :"0";
  // 	width="100%";
  // }
  td.head_stripe {
    background-color: #62925d;
    border: 1px solid #000000;
    padding: 5px;
    color: #ffffff;
    letter-spacing: 0.5px;
    margin: 3rem 0 1.2rem;
    font-size: 1.5rem;
  }

  td.blue_head_no_stripe {
    background-color: #62925d;
    border: 1px solid #000000;
    padding: 5px;
    color: #ffffff;
    letter-spacing: 0.5px;
    margin: 3rem 0 1.2rem;
    font-size: 1.5rem;
  }

  th,
  td {
    padding: 0;
    vertical-align: top;
  }

  main th {
    font-size: 1.15em;
    white-space: nowrap;
  }

  main th,
  main td {
    padding-bottom: 1rem;
  }

  main th:not(:last-child),
  main td:not(:last-child) {
    padding-right: 1rem;
  }

  .logo {
    width: 150px;
    height: 30px;
  }

  .nclogo {
    width: 250px;
  }

  .logo_abcbs {
    width: 150px;
  }

  .logo_abcbs_va {
    width: 150px;
    height: 30px;
  }

  .logo_abc {
    width: 150px;
    height: 30px;
  }

  .logo_amerigroup {
    width: 150px;
  }

  .logo_betterhealth {
    width: 150px;
  }

  .logo_cha {
    width: 120px;
  }

  .logo_ebcbs {
    width: 120px;
  }

  .logo_healthlink {
    width: 150px;
  }

  .logo_healthybluenc {
    width: 250px;
  }

  .logo_healthybluesc {
    width: 200px;
  }

  .logo_simply {
    width: 150px;
  }

  .logo_unicare {
    width: 120px;
  }

  footer {
    border-top: 2px solid #dcdcdc;
    margin-top: 3rem;
    padding-top: 3rem;
    text-align: center;
  }

  #logo {
    width: 100%;
    max-width: 200px;
  }

  #policyTypeHeading {
    font-size: 18px;
    font-weight: bold;
    text-align: right;
    vertical-align: bottom;
  }

  #docDetails {
    margin: 1.2rem 0;
    border-style: solid;
    border-color: #dcdcdc;
    border-width: 2px 0;
    padding: 10px 0;
    /* margin-top: 20px;
    margin-bottom: 26px; */
  }
  h2 {
    background-color: #62925d;
    color: #ffffff;
  }

  a {
    color: #0079c2;
  }

  a:hover {
    color: #00609a;
  }
  body,
  html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    background-color: #ffffff;
    color: #000000;
    text-align: left;
    margin: 0;
    line-height: 140%;
  }

  html {
    background-color: #eeeeee;
  }

  body {
    width: 100%;
    max-width: 800px;
    box-sizing: border-box;
    padding: 30px 45px;
    margin: 0 auto;
    background-color: #ffffff;
  }

  h1 {
    font-size: 12px;
    font-weight: normal;
    margin: 0;
    display: inline-block;
  }

  h2 {
    border: 1px solid #000000;
    padding: 5px;
    background-color: #62925d;
    color: #ffffff;
    letter-spacing: 0.5px;
    margin: 3rem 0 1.2rem;
  }

  h3 {
    font-size: 1.5em;
    margin-top: 1.5em;
    margin-bottom: 1em;
  }

  h4 {
    font-size: 1.25em;
    margin-top: 1.25em;
    margin-bottom: 0.25em;
  }

  p {
    margin: 10px 0;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }

  table p {
    margin: 0;
  }

  a {
    color: #0079c2;
  }

  a:hover {
    color: #00609a;
  }

  table {
    width: 100%;
    border: none;
    //	margin-bottom: 1.2rem;
    //	margin-top: 1.2rem;
  }

  table.borders,
  table.borders th,
  table.borders td {
    border: 1px solid #000000;
    border-collapse: collapse;
  }

  table.center,
  th.center,
  td.center {
    text-align: center;
  }

  table table {
    margin-bottom: 0;
  }

  table + table {
    margin-top: 1rem;
  }

  table.head_style {
    border: "1";
    bordercolor: "#000000";
    cellspacing: "0";
    width: "100%";
  }
  td.head_stripe {
    background-color: #62925d !important;
    border: 1px solid #000000;
    padding: 5px;
    color: #ffffff;
    letter-spacing: 0.5px;
    margin: 3rem 0 1.2rem;
    font-size: 1.5rem;
  }

  td.blue_head_no_stripe {
    background-color: #62925d;
    border: 1px solid #000000;
    padding: 5px;
    color: #ffffff;
    letter-spacing: 0.5px;
    margin: 3rem 0 1.2rem;
    font-size: 1.5rem;
  }

  th,
  td {
    padding: 0;
    vertical-align: top;
  }

  main th {
    font-size: 1.15em;
    white-space: nowrap;
  }

  main th,
  main td {
    padding-bottom: 1rem;
  }

  main th:not(:last-child),
  main td:not(:last-child) {
    padding-right: 1rem;
  }

  .logo {
    width: 150px;
    height: 30px;
  }

  .nclogo {
    width: 250px;
  }

  .logo_abcbs {
    width: 150px;
  }

  .logo_abcbs_va {
    width: 150px;
    height: 30px;
  }

  .logo_abc {
    width: 150px;
    height: 30px;
  }

  .logo_amerigroup {
    width: 150px;
  }

  .logo_betterhealth {
    width: 150px;
  }

  .logo_cha {
    width: 120px;
  }

  .logo_ebcbs {
    width: 120px;
  }

  .logo_healthlink {
    width: 150px;
  }

  .logo_healthybluenc {
    width: 250px;
  }

  .logo_healthybluesc {
    width: 200px;
  }

  .logo_simply {
    width: 150px;
  }

  .logo_unicare {
    width: 120px;
  }

  footer {
    border-top: 2px solid #dcdcdc;
    margin-top: 3rem;
    padding-top: 3rem;
    text-align: center;
  }

  #logo {
    width: 100%;
    max-width: 200px;
  }

  #policyTypeHeading {
    font-size: 18px;
    font-weight: bold;
    text-align: right;
    vertical-align: bottom;
  }

  #docDetails {
    margin: 1.2rem 0;
    border-style: solid;
    border-color: #dcdcdc;
    border-width: 2px 0;
    padding: 10px 0;
    /* margin-top: 20px;
    margin-bottom: 26px; */
  }
}
.highlight {
  background: yellow;
}
.custom_highlight_area_bit {
  // background-color: red !important;
  display: none;
}
#demoText {
  html,
  body {
    background: #202020;
    color: #cbcbcb;
    line-height: 1.5;
    font-family: "Roboto", sans-serif;
  }

  h1 {
    color: #c69b6c;
    text-align: center;
  }

  #article {
    margin: 0 auto;
    width: 100%;
    max-width: 650px;
  }

  .speech-bubble {
    position: relative;
    background: #4294da;
    border-radius: 0.4em;
    color: white;
  }

  .speech-bubble:after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 12px solid transparent;
    border-bottom-color: #4294da;
    border-top: 0;
    margin-left: -12px;
    margin-top: -12px;
  }

  .share-inside {
    background: url("https://awik.io/demo/js-selected-text/twicon.png");
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: 24px 19px;
  }

  .share-inside a {
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
    padding: 10px;
    padding-left: 40px;
  }
}
#article {
  margin: 0 auto;
  width: 100%;
  max-width: 650px;
}

.speech-bubble {
  position: relative;
  background: #212121;
  border-radius: 0.4em;
  color: white;
}

.speech-bubble:after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 12px solid transparent;
  border-bottom-color: #212121;
  border-top: 0;
  margin-left: -12px;
  margin-top: -12px;
}

.share-inside {
  // background: url("https://awik.io/demo/js-selected-text/twicon.png");
  background-repeat: no-repeat;
  background-position: 10px center;
  background-size: 24px 19px;
  background: #212121;
}

.share-inside a {
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  font-size: 11px;
  padding: 10px;
  padding-left: 40px;
  padding: 5px;
  background: var(--green-500);
  margin: 10px;
  border-radius: 4px;
  /* margin-left: 9px; */
}

.ui-multiselect-panel .ui-multiselect-empty-message {
  display: none !important;
}
